#pentaho
	width: 20em
	height: 400em
	border: 1px solid black
	font-family: arial
	
#project
	padding: 0.5em
	
#projectSelect
	width: 100%
	cursor: pointer; cursor: hand
	
.projectActions
	display: flex
	flex-direction: row
	justify-content: space-around
	margin-bottom: 0.5em
	margin-top: 0.5em
	

	
.action
	width: 33%
	padding: 2px
	vertical-align: middle
	text-align: center
	
	.icon
		width: 18px
		height: 18px
		vertical-align: middle
		
.action_enabled
	@extend .action
	cursor: pointer; cursor: hand
		
.action_disabled
	@extend .action
	color: gray
	
.action_enabled:hover
	background-color: yellow
	
.action_enabled:active
	background-color: red
	
.file
	display: flex
	width: 100%
	padding: 2px
	vertical-align: middle
	font-size: 1.2em
	cursor: pointer; cursor: hand
	user-select: none
	
	.icon
		width: 22px
		height: 22px
		vertical-align: middle
		margin-right: 0.4em
		
.file:hover
	background-color: yellow
	
.file:active
	background-color: red
	
.selected
	background-color: yellow
	font-weight: bold
	
.fileName
	flex-grow: 1
	
#loading
	z-index: 100000
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	text-align: center
	font-size: 2em
	font-family: arial
	background-color: rgba(0,0,0,0.2)
	user-select: none
	vertical-align: middle
	
	display:flex
	align-items: center
	justify-content: center
	
.fileDrop
	width: 100%
	height: 50px
	border: 1px dashed black
